#edit_project_modal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-body
        %form{name: 'edit_project_form'}
          .form-group
            %label{:for => "edit_project_body"} Enter project title
            %input#edit_project_body.form-control{name: 'title', type: 'text', 'ng-model' => 'project_data.project.title',
            validator: 'required', 'valid-method' => 'submit-only', 'required-error-message' => "Title required"}
          .form-group
            %button.btn.btn-primary{'ng-click' => 'update_project()', 'validation-submit' => 'edit_project_form'} Edit project
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close