#task_modal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-body
        %form{name: 'task_edit_form'}
          .form-group
            %label{:for => "task_body"} Enter task title
            %input#task_body{name: 'title', type: 'text', 'ng-model' => 'task_data.task.title', class: 'form-control',
            validator: 'required', 'valid-method' => 'submit-only', 'required-error-message' => "Title required"}
          .form-group
            %button.btn.btn-primary{'ng-click' => 'update_task()', 'validation-submit' => 'task_edit_form'} Update task
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
