.col-lg-10.projects{'ng-if' => 'user.signedIn', 'ng-controller': 'ProjectsController'}
  %h1 MY PROJECTS
  %div{'ng-repeat' => "project in projects | orderBy: '-id'", class: 'project'}
    .col-lg-12.col-md-12.col-sm-12.head
      .col-lg-1.col-md-1.col-sm-1
        %i{class: 'glyphicon glyphicon-list-alt'}
      .col-lg-9.col-md-9.col-sm-9{'ng-bind' => 'project.title'}
      .col-lg-1.col-md-1.col-sm-1
        %i{class: 'link glyphicon glyphicon-pencil', data: {toggle: 'modal', target: '#project_modal'},
         'ng-click' => 'before_edit(project)'}
      .col-lg-1.col-md-1.col-sm-1
        %i{class: 'glyphicon glyphicon-remove link', 'ng-click' => 'delete_project(project)'}
    %div{'ng-controller': 'TasksController'}
      .col-lg-12.col-md-12.col-sm-12
        %form{'ng-submit' => 'add_task()'}
          .form-group.col-lg-10.col-md-10.col-sm-10
            %input{name: 'title', type: 'text', 'ng-model' => 'task_title', class: 'form-control'}
          .col-lg-2.col-md-2.col-sm-2
            %input{type: 'submit', value: 'Add task', class: 'btn btn-primary'}
      .col-lg-12.col-md-12.col-sm-12{'ng-repeat' => 'task in project.tasks'}
        .col-lg-1.col-md-1.col-sm-1
          %input{name: 'is_done', type: 'checkbox'}
        .col-lg-9.col-md-9.col-sm-9{'ng-bind' => 'task.title'}
        .col-lg-2.col-md-2.col-sm-2
          .col-lg-1.col-md-1.col-sm-1
            %div
              %i{class: 'glyphicon glyphicon-chevron-up'}
            %div
              %i{class: 'glyphicon glyphicon-chevron-down'}
          .col-lg-1.col-md-1.col-sm-1
            %i{class: 'glyphicon glyphicon-pencil'}
          .col-lg-1.col-md-1.col-sm-1
            %i{class: 'glyphicon glyphicon-remove'}
    %h3
      &nbsp
  %div.add_todo
    %button{class: 'btn btn-primary btn-lg', data: {toggle: 'modal', target: '#project_modal'}, 'ng-click' => 'before_add()'} Add TODO list

  %div{class: "ng-include: 'modals/project.html'"}
