%div{class: "ng-include: 'partials/greeting.html'", 'ng-if' => '!user.signedIn'}
.col-lg-12.col-md-12.col-sm-12.projects{'ng-if' => 'user.signedIn', 'ng-controller': 'ProjectsController'}
  %h3
    %img{'ng-src'=> "{{user.image}}"} &nbsp {{user.name}}
  %h1 MY PROJECTS
  %div.project.row{'ng-repeat' => "project in projects | orderBy: '-id'"}
    .col-lg-12.col-md-12.col-sm-12.head
      .col-lg-10.col-md-10.col-sm-10{'ng-bind' => 'project.title'}
      %div{class: "ng-include: 'partials/project_instruments.html'"}
    %div{'ng-controller': 'TasksController'}
      %div{class: "ng-include: 'partials/add_task_form.html'"}
      %div{class: "ng-include: 'modals/task.html'"}
      .col-lg-12.col-md-12.col-sm-12.task{'ng-show' => 'project.toggle_tasks',
       'ng-class' => '{deadline: check_deadline(task)}',
       'ng-repeat' => "task in project.tasks | orderBy: 'position'"}
        .col-lg-1.col-md-1.col-sm-1
          %md-checkbox{name: 'is_done', 'ng-model' => 'task.is_done', 'aria-label' => 'Done',
           'ng-change' => 'task_data.task = task; update_task()'} Done
        .col-lg-7.col-md-7.col-sm-7{'ng-bind' => 'task.title'}
        .col-lg-4.col-md-4.col-sm-4
          %div{class: "ng-include: 'partials/task_instruments.html'"}
  %div.add_todo
    %button.btn.btn-primary.btn-lg{data: {toggle: 'modal', target: '#add_project_modal'}} Add TODO list
  %div{class: "ng-include: 'modals/add_project.html'"}
  %div{class: "ng-include: 'modals/edit_project.html'"}
  %div{class: "ng-include: 'modals/comments.html'"}
