.col-lg-10.projects{'ng-if' => 'user.signedIn', 'ng-controller': 'ProjectsController'}
  %h3
    %img{'ng-src'=> "{{user.image}}"}
    {{user.name}}
  %h1 MY PROJECTS
  %div{'ng-repeat' => "project in projects | orderBy: '-id'", class: 'project row'}
    .col-lg-12.col-md-12.col-sm-12.head
      .col-lg-10.col-md-10.col-sm-10{'ng-bind' => 'project.title'}
      %md-icon.material-icons{'ng-click' => 'toggle_projects = !toggle_projects', 'ng-init' => 'toggle_projects = true'} list
      %md-icon.material-icons{data: {toggle: 'modal', target: '#project_modal'}, 'ng-click' => 'before_edit(project)'} mode_edit
      %md-icon.material-icons{'ng-click' => 'delete_project(project)'} delete_forever
    %div{'ng-controller': 'TasksController'}
      %div{class: "ng-include: 'partials/add_task_form.html'"}
      .col-lg-12.col-md-12.col-sm-12{'ng-show' => 'toggle_projects', 'ng-class' => '{deadline: check_deadline(task)}',
       'ng-repeat' => "task in project.tasks | orderBy: 'position'"}
        .col-lg-1.col-md-1.col-sm-1
          %input{name: 'is_done', type: 'checkbox', 'ng-model' => 'task.is_done',
           'ng-click' => 'task_data.task = task; update_task()'}
        .col-lg-7.col-md-7.col-sm-7{'ng-bind' => 'task.title'}
        .col-lg-4.col-md-4.col-sm-4
          .col-lg-1.col-md-1.col-sm-1
            %div{'ng-show' => '!$first'}
              %md-icon.material-icons{ 'ng-click' => "task_data.direction = 'up'; change_position(task)"} keyboard_arrow_up
            %div{'ng-show' => '!$last'}
              %md-icon.material-icons{ 'ng-click' => "task_data.direction = 'down';change_position(task)"} keyboard_arrow_down
          %md-menu{"md-offset" => "0 -7"}
            %md-button.md-icon-button{"aria-label" => "Open demo menu", "ng-click" => "$mdOpenMenu($event)"}
              %md-icon.material-icons list
            %md-menu-content{:width => "2"}
              %md-menu-item
                %md-icon.material-icons{data: {toggle: 'modal', target: '#task_modal'},
                'ng-click' => 'task_data.task = task'} mode_edit
              %md-menu-item
                %md-icon.material-icons{'ng-click' => 'delete_task(task)'} delete_forever
              %md-menu-item
                %md-icon.material-icons{data: {toggle: 'modal', target: '#comments_modal'},
                 'ng-click' => 'task_data.task = task'} comment
          %md-datepicker{'md-hide-icons' => 'triangle','ng-model' => 'deadline',
             'ng-init' => 'deadline = StrToDate(task.deadline)',
             'ng-change' => 'task_data.task = task; task.deadline = deadline.toString(); update_task()'}
      %div{class: "ng-include: 'modals/task.html'"}
      %div{class: "ng-include: 'modals/comments.html'"}

  %div.add_todo
    %button{class: 'btn btn-primary btn-lg', data: {toggle: 'modal', target: '#project_modal'},
     'ng-click' => 'before_add()'} Add TODO list

  %div{class: "ng-include: 'modals/project.html'"}
