.row
  .col-lg-6
    %form{"ng-init" => "registrationForm = {}", "ng-submit" => "submitRegistration(registrationForm)", :role => "form"}
      .form-group
        %label Name
        %input.form-control{:name => "name",
         "ng-model" => "registrationForm.name", :required => "required"}/
      .form-group
        %label Email
        %input.form-control{:name => "email",
         "ng-model" => "registrationForm.email", :required => "required", :type => "email"}/
      .form-group
        %label Password
        %input.form-control{:name => "password",
         "ng-model" => "registrationForm.password", :required => "required", :type => "password"}/
      .form-group
        %label Password confirmation
        %input.form-control{:name => "password_confirmation",
         "ng-model" => "registrationForm.password_confirmation", :required => "required", :type => "password"}/
      .form-group
        %button.btn.btn-primary{:type => "submit"} Register
.row
  %button{"ng-click" => "authenticate('facebook')", class: 'btn btn-success'}
    Sign in with Facebook

