%md-icon.material-icons{'ng-click' => 'project.toggle_tasks = !project.toggle_tasks',
 'ng-init' => 'project.toggle_tasks = true'} list
%md-icon.material-icons.edit{data: {toggle: 'modal', target: '#edit_project_modal',
 'ng-click' => 'project_data.project = project'}} mode_edit
%md-icon.material-icons.delete{'ng-click' => 'delete_project(project)'} delete_forever