.col-lg-1.col-md-1.col-sm-1
  %div{'ng-show' => '!$first'}
    %md-icon.material-icons{ 'ng-click' => "task_data.direction = 'up'; change_position(task)"} keyboard_arrow_up
  %div{'ng-show' => '!$last'}
    %md-icon.material-icons{ 'ng-click' => "task_data.direction = 'down';change_position(task)"} keyboard_arrow_down
%md-menu{"md-offset" => "0 -7"}
  %md-button.md-icon-button{"aria-label" => "Open demo menu", "ng-click" => "$mdOpenMenu($event)"}
    %md-icon.material-icons list
  %md-menu-content{:width => "2"}
    %md-menu-item
      %md-icon.material-icons.edit_task{data: {toggle: 'modal', target: '#task_modal'},
                'ng-click' => 'task_data.task = task'} mode_edit
    %md-menu-item
      %md-icon.material-icons.delete_task{'ng-click' => 'delete_task(task)'} delete_forever
    %md-menu-item
      %md-icon.material-icons{data: {toggle: 'modal', target: '#comments_modal'},
                 'ng-click' => 'task_data.task = task'} comment
%md-datepicker{'md-hide-icons' => 'triangle','ng-model' => 'deadline','ng-init' => 'deadline = StrToDate(task.deadline)',
 'ng-change' => 'task_data.task = task; task.deadline = deadline.toString(); update_task()'}